@import '../mixins.scss';
@import '../variables.scss';

.AllProducts{
    width:100%;
    height: auto;
    flex-wrap: wrap;
    @include flex(center, center, row);
    .product__AllProducts{
        width: 360px;
        height: 569px;
        margin: 50px 20px;
        @include flex('','', column);
        .bottom__product__AllProducts{
            width: 360px;
            height: auto;
            min-height: 250px;
            background-color: $white;
            padding: 30px;
            @include flex(space-between,'', column);
            .txt__bottom__product__AllProducts{
                user-select: none;
            .caption__bottom__product__AllProducts{
                font-family: $fontFamily;
                font-style: normal;
                line-height: 27px;
                margin-bottom: 12px;
                @include font(20px,700, $fontBlack);
            }
            .sizes__bottom__product__AllProducts{
                font-family: $fontFamily;
                font-style: normal;
                line-height: 22px;
                margin-bottom: 15px;
                @include font(14px,500, $fontBlack);
                @include flex("","", row);
                span{
                    font-family: $fontFamily;
                    font-style: normal;
                    line-height: 22px;
                    @include font(14px,700, $fontBlack);
                }
                .list__sizes__bottom__product__AllProducts{
                    @include flex("","", row);
                    p{
                        margin: 0 5px;
                    }
                }
            }
            .price__bottom__product__AllProducts{
                font-family: $fontFamily;
                font-style: normal;
                line-height: 22px;
                @include font(16px,700, $fontBlack)
            }
        }
            .btn__bottom__product__AllProducts{
                width: 147px;
                height: 35px;
                font-style: normal;
                line-height: 18px;
                font-family: $fontFamily;
                @include font(13px,700, $white);
                @include button($red,$white,0,0);
                text-transform: uppercase;
                border: none;
                transition-duration: 0.3s;
                @include flex(center, center, '');
                &:hover{
                    cursor: pointer;
                    transition-duration: 0.3s;
                    border-radius: 10px;
                }
            }

        }
    }
}