@import '../mixins.scss';
@import '../variables.scss';

.ProductList{
    width:100%;
    height: auto;
    flex-wrap: wrap;
    @include flex(center, center, row);
    .product__ProductList{
        width: 360px;
        height: 580px;
        margin: 50px 20px;
        @include flex('','', column);
        .bottom__product__ProductList{
            width: 360px;
            height: auto;
            min-height: 261px;
            background-color: $white;
            padding: 25px;
            @include flex(space-between,'', column);
            .txt__bottom__product__ProductList{
                user-select: none;
            .caption__bottom__product__ProductList{
                font-family: $fontFamily;
                font-style: normal;
                line-height: 27px;
                margin-bottom: 12px;
                @include font(20px,700, $fontBlack);
            }
            .sizes__bottom__product__ProductList{
                font-family: $fontFamily;
                font-style: normal;
                line-height: 22px;
                margin-bottom: 10px;
                @include font(14px,500, $fontBlack);
                @include flex("","", row);
                span{
                    font-family: $fontFamily;
                    font-style: normal;
                    line-height: 22px;
                    @include font(14px,700, $fontBlack);
                }
                .list__sizes__bottom__product__ProductList{
                    @include flex("","", row);
                    p{
                        margin: 0 5px;
                    }
                }
            }
            .documents__bottom__product__ProductList, .print__bottom__product__ProductList{
                font-family: $fontFamily;
                font-style: normal;
                line-height: 22px;
                @include font(14px,500, $fontBlack);
                width: 200px;
                 span{
                    font-family: $fontFamily;
                    font-style: normal;
                    line-height: 22px;
                    @include font(14px,700, $fontBlack);
                }
            }
            .price__bottom__product__ProductList{
                font-family: $fontFamily;
                font-style: normal;
                line-height: 22px;
                margin-top: 5px;
                @include font(16px,700, $fontBlack)
            }
        }

        }
    }
}