.ProductList {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.ProductList .product__ProductList {
  width: 360px;
  height: 580px;
  margin: 50px 20px;
  display: flex;
  justify-content: "";
  align-items: "";
  flex-direction: column;
}
.ProductList .product__ProductList .bottom__product__ProductList {
  width: 360px;
  height: auto;
  min-height: 261px;
  background-color: #fff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: "";
  flex-direction: column;
}
.ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList {
  user-select: none;
}
.ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .caption__bottom__product__ProductList {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 27px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
.ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .sizes__bottom__product__ProductList {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 22px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  display: flex;
  justify-content: "";
  align-items: "";
  flex-direction: row;
}
.ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .sizes__bottom__product__ProductList span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 22px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .sizes__bottom__product__ProductList .list__sizes__bottom__product__ProductList {
  display: flex;
  justify-content: "";
  align-items: "";
  flex-direction: row;
}
.ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .sizes__bottom__product__ProductList .list__sizes__bottom__product__ProductList p {
  margin: 0 5px;
}
.ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .documents__bottom__product__ProductList, .ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .print__bottom__product__ProductList {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 22px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  width: 200px;
}
.ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .documents__bottom__product__ProductList span, .ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .print__bottom__product__ProductList span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 22px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.ProductList .product__ProductList .bottom__product__ProductList .txt__bottom__product__ProductList .price__bottom__product__ProductList {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 22px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}



