@import "./mixins.scss";
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.CatalogPage{
    width: 100%;
    min-height: 100vh;
    padding: 50px 0px;
    background-color: $bgBlack;
    @include flex('',center, column);
}