@import '../../mixins.scss';
@import "../../variables.scss";
$fontSizeHeaderEl:16px;
$colorHeaderElementColor:#fb472e;
$transition:0.5s;

.header{
    @include flex(space-between,center,row);
    // background-color: $bgBlack;
    color: $white;
    height: 10vh;
    width: 100%;
    padding: 30px 30px;
 
    transition: 1s;
    z-index: 5;
    position: absolute;
    top: 0;

    
//  margin-top: -10vh;
 
 
   .headerBurger{
    width: 30px;
    height: 25px;
    @include flex(space-between,center,column);
    display: none;
    cursor: pointer;
    transition: $transition;
    .headerBurger__row__rotateRight{
        width: 30px;
        height: 3px;
        background-color: $white;
        transform: rotate(45deg);
        position: absolute;
        transition: $transition;
    }
    .headerBurger__row__rotateLeft{
        width: 30px;
        height: 3px;
        background-color: $white;
        transform: rotate(-45deg);
        position: absolute;
        transition: $transition;
    }
    .headerBurger__row{
        width: 30px;
        height: 3px;
        background-color: $white;
        transition: 1s;
    }
   }
    .header__logo{
        @include flex(space-between,center,row);
      
       font-weight: 600;
       user-select: none;
       margin-bottom: 10px;
       cursor: pointer;
       .header__logo__letters{
        font-size: 44px;
        margin-right: 10px;

       }
       .header__logo__text{
        width: 20px;
       }
    }
    .header__logo__text{
        text-transform: uppercase;
    }
    .header__right{
        @include flex(space-between,center,row);
        a{
            text-decoration: none;

        }
      .header__right__el{
        color: $white;
        user-select: none;
        margin: 0 15px;
        font-weight: 600;
        font-size: $fontSizeHeaderEl;
        cursor: pointer;
        transition: 0.3s;
      
        &:hover{
            color: $colorHeaderElementColor;
        }
      }
    }
}
@media screen and (max-width:900px){
    .header .header__right{
        display: none;
    }
    .header .headerBurger{
        display: flex;
    }
    .header .header__logo{
        margin-bottom: 0px;
    }
    .header .header__logo .header__logo__letters {
        display: none;
    }
    .header .header__logo .header__logo__text {
        width: 150px;
      }
}
