@import "../mixins.scss";
@import "../variables.scss";
.MainPage {
    min-height: 100vh;
    width: 100%;
    background: $bgBlack;
    @include flex(center, center, row);
    .MainPage-slider-container {
        height: 100vh;
        width: 100%;
        @include flex(center, center, row);
        .MainPage-slide-inner {
            height: 100vh;
            width: 100%;
            @include flex(center, center, row);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
                pointer-events: none;
            }
        }
        .MainPage-slider-btn {
            height: 30px;
            width: 30px;
            user-select: none;
            display: block;
            position: absolute;
            z-index: 2000;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            @include button(rgb(255, 255, 255), $fontBlack, 50%, 8px);
            .MainPage-slider-btn-svg {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        .MainPage-slider-btn-previous {
            left: 30px;
        }
        .MainPage-slider-btn-next {
            right: 30px;
        }
        .MainPage-slider-pagination {
            width: min-content;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2000;
            @include flex(center, center, row);
            gap: 10px;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
        .MainPage-slider-pagination-bullet {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: transparent;
            border: 2px solid #ffffff;
            display: block;
            transition: background 0.3s 0.1s;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-transition: background 0.3s 0.1s;
            -moz-transition: background 0.3s 0.1s;
            -ms-transition: background 0.3s 0.1s;
            -o-transition: background 0.3s 0.1s;
            &:hover {
                background: #ffffff;
            }
        }
        .MainPage-slider-pagination-bullet-active {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: #ffffff;
            display: block;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        .MainPage-slideBtn {
            height: 100%;
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            display: flex;
        }
    }
}

@media screen and (max-width: 900px) {
    .MainPage {
        .MainPage-slider-container {
            .MainPage-slider-btn-previous {
                left: 20px;
            }
            .MainPage-slider-btn-next {
                right: 20px;
            }
            .MainPage-slider-pagination {
                bottom: 20px;
            }
        }
    }
}