@import "../mixins.scss";
@import "../variables.scss";

$purple: #8f5db7;

$telegramBlue: #0088CC;


.Footer {
    width: 100%;
    height: 70vh;
    background-color: $fontBlack;

    a {
        text-decoration: none;
    }

    .Footer__container {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;




        .Footer__socialContainer {
            width: 700px;
            height: 70px;

            display: flex;
            justify-content: space-around;
            align-items: center;

            .Social {
                width: 210px;
                height: 40px;
                border-radius: 10px;
                background-color: $red;








            }

            .SocialTelegram {
                width: 210px;
                height: 40px;
                border-radius: 10px;
                background-color: $telegramBlue;
                display: flex;
                justify-content: space-around;
                align-items: center;



                .telegram__img {
                    width: 50px;
                    height: 40px;
                    margin-left: 5px;

                    .telegramImage {
                        width: 36px;
                        height: 36px;
                        position: relative;
                        top: 1px;
                    }

                }

                .telegram__text {
                    font-size: 17px;
                    color: $white;
                    font-weight: 700;
                    font-family: $fontFamily;
                    letter-spacing: 2px;
                    position: relative;
                    left: -8px;


                }
            }

            .SocialViber {
                width: 210px;
                height: 40px;
                border-radius: 10px;
                background-color: $purple;
                display: flex;
                justify-content: space-around;
                align-items: center;


                .viber__img {
                    width: 50px;
                    height: 40px;
                    margin-left: 5px;

                    .viberImage {
                        width: 32px;
                        height: 32px;
                        position: relative;
                        top: 4px;

                    }

                }

                .viber__text {
                    font-size: 17px;
                    color: $white;
                    font-weight: 700;
                    font-family: $fontFamily;
                    letter-spacing: 2px;
                    position: relative;

                    left: -8px;


                }
            }

        }



        .Footer__text {
            color: $white;
            font-size: 18px;
            font-weight: 300;
            font-family: $fontFamily;
        }

        .Footer__email {
            color: $red;
            font-size: 21px;
            font-weight: 300;
            font-family: $fontFamily;

        }

        .Footer__links {
            width: 600px;
            height: 90px;
            background-color: $fontBlack;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .Footer__a {
                color: $white;
                font-family: $fontFamily;
                font-size: 30px;
                text-decoration: none;
                font-weight: 700;


            }

        }

        .Footer__about {
            width: 700px;
            height: 140px;
            background-color: $fontBlack;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .Footer__about__block {
                width: 200px;
                height: 80px;
                background-color: $fontBlack;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .about__ImageCont {
                    width: 200px;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    .about__ImageConat__one {
                        height: 40px;
                        width: 130px;
                        display: flex;
                        position: relative;
                        top: 7px;


                        .aboutImage {
                            width: 50px;
                            height: 40px;

                            .about__img {
                                height: 28px;
                                height: 28px;
                            }

                        }

                    }



                }






                .about__block__h1 {
                    color: $white;
                    font-family: $fontFamily;
                    font-size: 17px;
                    font-weight: 700;


                }

                .about__block__cont {
                    width: 200px;
                    height: 45px;
                    background-color: $fontBlack;

                    .about__block__a {
                        color: $white;
                        font-family: $fontFamily;
                        font-weight: 500;
                        text-decoration: none;

                    }

                }


            }
        }

    }



}

@media only screen and (max-width: 700px) {
    .Footer {
        height: 90vh;

        .Footer__container {
            height: 90vh;

            .Footer__socialContainer {
                width: 100%;
                height: 30vh;
                flex-direction: column;
                align-items: center;

                .Social,
                .SocialTelegram,
                .SocialViber {
                    height: 40px;
                    width: 220px;
                }


                .SocialTelegram {
                    .telegram__img {
                        margin-left: 8px;
                    }

                    .telegram__text {
                        position: relative;
                        left: -7px;
                    }


                }

                .SocialViber {
                    .viber__img {
                        margin-left: 8px;
                    }

                    .viber__text {
                        position: relative;

                        left: -7px;
                    }


                }
            }

            .Footer__links {
                width: 80%;
                height: auto;
                display: flex;

                justify-content: space-between;


                .Footer__a {

                    margin-bottom: 10px;
                    font-size: 20px;
                }
            }

            .Footer__about {
                width: 100%;
                height: auto;

                justify-content: flex-start;
                align-items: flex-start;

                .Footer__about__block {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                    padding: 20px;

                    .about__ImageCont {
                        width: 100%;


                        .about__ImageConat__one {


                            .aboutImage {
                                width: 50px;
                                height: 50px;

                                .about__img {
                                    height: 30px;
                                    width: 30px;
                                }
                            }
                        }
                    }

                    .about__block__h1 {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    .about__block__cont {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .about__block__a {
                            font-size: 16px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 500px) {

    .Footer__about__block {
        margin-left: 5px;
    }

}

@media only screen and (max-width: 420px) {
    .Footer {
        height: 130vh;


        .Footer__container {
            height: 130vh;

            .Footer__a {
                font-size: 10px
            }

            .Footer__about {
                width: 90%;
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -24px;

                .about__block__h1 {
                    text-align: center;
                }

                .about__block__a {
                    text-align: center;
                }

                .aboutImage {
                    position: relative;
                    left: 21px;

                }


            }

        }

    }
}