.Footer {
  width: 100%;
  height: 70vh;
  background-color: #000000;
}
.Footer a {
  text-decoration: none;
}
.Footer .Footer__container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.Footer .Footer__container .Footer__socialContainer {
  width: 700px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Footer .Footer__container .Footer__socialContainer .Social {
  width: 210px;
  height: 40px;
  border-radius: 10px;
  background-color: #ff8562;
}
.Footer .Footer__container .Footer__socialContainer .SocialTelegram {
  width: 210px;
  height: 40px;
  border-radius: 10px;
  background-color: #0088CC;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Footer .Footer__container .Footer__socialContainer .SocialTelegram .telegram__img {
  width: 50px;
  height: 40px;
  margin-left: 5px;
}
.Footer .Footer__container .Footer__socialContainer .SocialTelegram .telegram__img .telegramImage {
  width: 36px;
  height: 36px;
  position: relative;
  top: 1px;
}
.Footer .Footer__container .Footer__socialContainer .SocialTelegram .telegram__text {
  font-size: 17px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  letter-spacing: 2px;
  position: relative;
  left: -8px;
}
.Footer .Footer__container .Footer__socialContainer .SocialViber {
  width: 210px;
  height: 40px;
  border-radius: 10px;
  background-color: #8f5db7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Footer .Footer__container .Footer__socialContainer .SocialViber .viber__img {
  width: 50px;
  height: 40px;
  margin-left: 5px;
}
.Footer .Footer__container .Footer__socialContainer .SocialViber .viber__img .viberImage {
  width: 32px;
  height: 32px;
  position: relative;
  top: 4px;
}
.Footer .Footer__container .Footer__socialContainer .SocialViber .viber__text {
  font-size: 17px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  letter-spacing: 2px;
  position: relative;
  left: -8px;
}
.Footer .Footer__container .Footer__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-family: "Manrope", sans-serif;
}
.Footer .Footer__container .Footer__email {
  color: #ff8562;
  font-size: 21px;
  font-weight: 300;
  font-family: "Manrope", sans-serif;
}
.Footer .Footer__container .Footer__links {
  width: 600px;
  height: 90px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Footer .Footer__container .Footer__links .Footer__a {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
}
.Footer .Footer__container .Footer__about {
  width: 700px;
  height: 140px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Footer .Footer__container .Footer__about .Footer__about__block {
  width: 200px;
  height: 80px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.Footer .Footer__container .Footer__about .Footer__about__block .about__ImageCont {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Footer .Footer__container .Footer__about .Footer__about__block .about__ImageCont .about__ImageConat__one {
  height: 40px;
  width: 130px;
  display: flex;
  position: relative;
  top: 7px;
}
.Footer .Footer__container .Footer__about .Footer__about__block .about__ImageCont .about__ImageConat__one .aboutImage {
  width: 50px;
  height: 40px;
}
.Footer .Footer__container .Footer__about .Footer__about__block .about__ImageCont .about__ImageConat__one .aboutImage .about__img {
  height: 28px;
  height: 28px;
}
.Footer .Footer__container .Footer__about .Footer__about__block .about__block__h1 {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.Footer .Footer__container .Footer__about .Footer__about__block .about__block__cont {
  width: 200px;
  height: 45px;
  background-color: #000000;
}
.Footer .Footer__container .Footer__about .Footer__about__block .about__block__cont .about__block__a {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .Footer {
    height: 90vh;
  }
  .Footer .Footer__container {
    height: 90vh;
  }
  .Footer .Footer__container .Footer__socialContainer {
    width: 100%;
    height: 30vh;
    flex-direction: column;
    align-items: center;
  }
  .Footer .Footer__container .Footer__socialContainer .Social,
.Footer .Footer__container .Footer__socialContainer .SocialTelegram,
.Footer .Footer__container .Footer__socialContainer .SocialViber {
    height: 40px;
    width: 220px;
  }
  .Footer .Footer__container .Footer__socialContainer .SocialTelegram .telegram__img {
    margin-left: 8px;
  }
  .Footer .Footer__container .Footer__socialContainer .SocialTelegram .telegram__text {
    position: relative;
    left: -7px;
  }
  .Footer .Footer__container .Footer__socialContainer .SocialViber .viber__img {
    margin-left: 8px;
  }
  .Footer .Footer__container .Footer__socialContainer .SocialViber .viber__text {
    position: relative;
    left: -7px;
  }
  .Footer .Footer__container .Footer__links {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .Footer .Footer__container .Footer__links .Footer__a {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .Footer .Footer__container .Footer__about {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .Footer .Footer__container .Footer__about .Footer__about__block {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
  }
  .Footer .Footer__container .Footer__about .Footer__about__block .about__ImageCont {
    width: 100%;
  }
  .Footer .Footer__container .Footer__about .Footer__about__block .about__ImageCont .about__ImageConat__one .aboutImage {
    width: 50px;
    height: 50px;
  }
  .Footer .Footer__container .Footer__about .Footer__about__block .about__ImageCont .about__ImageConat__one .aboutImage .about__img {
    height: 30px;
    width: 30px;
  }
  .Footer .Footer__container .Footer__about .Footer__about__block .about__block__h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .Footer .Footer__container .Footer__about .Footer__about__block .about__block__cont {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Footer .Footer__container .Footer__about .Footer__about__block .about__block__cont .about__block__a {
    font-size: 16px;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 500px) {
  .Footer__about__block {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 400px) {
  .Footer {
    height: 130vh;
  }
  .Footer .Footer__container {
    height: 130vh;
  }
  .Footer .Footer__container .Footer__a {
    font-size: 10px;
  }
  .Footer .Footer__container .Footer__about {
    width: 90%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -24px;
  }
  .Footer .Footer__container .Footer__about .about__block__h1 {
    text-align: center;
  }
  .Footer .Footer__container .Footer__about .about__block__a {
    text-align: center;
  }
  .Footer .Footer__container .Footer__about .aboutImage {
    position: relative;
    left: 21px;
  }
}

/*# sourceMappingURL=Footer.css.map */
