// import Manrope font from Google Fonts
@import url("https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800");
@import "./components/mixins.scss";

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0;

  // media query for 1200px
  @media screen and (max-width: 1200px) {
    padding: 0;
    max-width: 960px;
  }

  // media query for 960px
  @media screen and (max-width: 960px) {
    max-width: 640px;
  }
}