@import "../mixins.scss";
@import "../variables.scss";

.HelpPage {
    width: 100%;
    height: 100vh;
    background-color: $bgBlack;
    display: flex;
    justify-content: center;
    align-items: center;

    .HelpPage__Container {
        width: 80%;
        height: 80vh;
        background-color: $bgBlack;
        display: flex;
        justify-content: space-around;

        .HelpPage__cont__block {
            height: 80vh;
            width: 46%;
            background-color: $bgBlack;
            display: flex;
            justify-content: space-around;
            flex-direction: column;


            .cont__block__one {
                width: 90%;
                height: 100px;

                background-color: $bgBlack;

                .HelpPage__span {
                    color: white;
                    font-family: $fontFamily;
                    font-size: 37px;
                    font-weight: 800;


                }


            }

            .cont__block__two {
                width: 64%;
                height: 90px;

                background-color: $bgBlack;
                display: flex;
                justify-content: space-around;
                align-items: center;


                .blue__line {
                    background-color: $blue;
                    height: 59px;
                    width: 5px;
                    float: left;


                }

                .HelpPage__two__text {
                    font-size: 24px;
                    color: white;
                    font-family: $fontFamily;
                    font-weight: 500;
                    position: relative;
                    left: 10px;
                }




            }

            .cont__block__three {
                width: 60%;
                height: 300px;
                background-color: azure;
            }

        }



    }



}