@import "../mixins.scss";
@import "../variables.scss";

.HelpPage {
    width: 100%;
    height: 100vh;
    background-color: $bgBlack;
    display: flex;
    justify-content: center;
    align-items: center;

    .HelpPage__img__container {
        width: 45%;
        height: 40vh;
        background-size: cover;
        z-index: 3;

        .HelpIMage {
            width: 100%;
            height: 80vh;
            z-index: 2;
        }

    }

    .HelpPage__Container {
        width: 85%;
        height: 80vh;
        background-color: $bgBlack;
        display: flex;
        justify-content: space-between;

        .HelpPage__cont__block {
            height: 93vh;
            width: 46%;
            background-color: $bgBlack;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            float: left;


            .cont__block__one {
                width: 90%;
                height: 100px;

                background-color: $bgBlack;

                .HelpPage__span {
                    color: white;
                    font-family: $fontFamily;
                    font-size: 30px;
                    font-weight: 800;


                }


            }

            .cont__block__two {
                width: 430px;
                height: 80px;

                background-color: $bgBlack;
                display: flex;
                justify-content: space-between;

                .blueline {
                    width: 5px;
                    height: 70px;
                    background-color: $blue;
                }

                .two__text {
                    font-size: 25px;
                    color: $white;
                    font-family: $fontFamily;
                    font-weight: 400;
                    position: relative;
                    left: -50px;

                }
            }

            .cont__block__three {
                width: 590px;
                height: 400px;

                display: flex;
                justify-content: space-between;

                .block__three__container {
                    width: 100%;
                    background-color: $bgBlack;
                    height: 300px;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;


                    .three__cont__one {
                        height: 90px;
                        width: 95%;

                        background-color: $bgBlack;
                        position: relative;
                        left: 12px;

                        .cont__one__text {
                            font-size: 21px;
                            color: white;
                            font-family: $fontFamily;
                            font-weight: 500;

                        }
                    }

                    .three__cont__two {
                        width: 90%;
                        height: 220px;
                        background-color: $bgBlack;
                        line-height: 38px;


                        .cont__two__text {
                            font-size: 21px;
                            color: white;
                            font-family: $fontFamily;
                            font-weight: 500;
                            position: relative;
                            left: 10px;
                            top: 15px;


                        }

                    }

                }

                .yelowline {
                    height: 287px;
                    background-color: $yellow;
                    width: 5px;
                    position: relative;

                    display: flex;


                }

            }


        }

    }















}

@media screen and (max-width: 1300px) {
    .HelpPage {



        .yelowline {
            height: 300px;
        }


        .cont__block__three {
            width: 300px;

            .block__three__container {
                width: 300px;



                .three__cont__one {
                    width: 200px;
                    background-color: aquamarine;
                }
            }
        }
    }

}

@media screen and (max-width: 800px) {
    .HelpPage {
        height: 190vh;




        .HelpPage__Container {
            flex-direction: column;
            height: 180vh;

            .HelpPage__img__container {
                width: 100%;
                position: relative;
                top: -340px;

            }



            .HelpPage__cont__block {
                width: 100%;

                .cont__block__one {
                    width: 90%;

                    height: 40px;


                    .HelpPage__span {
                        font-size: 27px;

                    }
                }



            }


        }
    }
}









@media screen and (max-width: 700px) {
    .HelpPage {
        height: 190vh;


        .HelpPage__Container {
            flex-direction: column;
            height: 160vh;

            .HelpPage__img__container {
                width: 100%;
                position: relative;
                top: -200px;

            }



            .HelpPage__cont__block {
                width: 100%;

                .cont__block__one {
                    width: 90%;

                    height: 40px;


                    .HelpPage__span {
                        font-size: 27px;

                    }
                }



            }


        }
    }
}




@media screen and (max-width: 600px) {
    .HelpPage {
        height: 180vh;



        .HelpPage__Container {
            flex-direction: column;
            height: 180vh;

            .HelpIMage {
                height: 400px;

            }


            .HelpPage__cont__block {
                width: 100%;


                .cont__block__three {
                    width: 100%;

                    .yelowline {
                        height: 380px;

                    }

                    .three__cont__one,
                    .three__cont__two {
                        width: 110%;

                        .cont__one__text,
                        .cont__two__text {
                            font-size: 5px;
                        }


                    }
                }

                .cont__block__one {
                    width: 90%;

                    height: 40px;


                    .HelpPage__span {
                        font-size: 27px;

                    }
                }



            }


        }
    }
}

@media screen and (max-width: 580px) {


    .HelpPage {





        .HelpPage__Container {
            flex-direction: column;
            height: 180vh;


            .HelpPage__cont__block {
                width: 100%;


                .cont__block__three {
                    width: 100%;

                    .yelowline {
                        height: 440px;

                    }


                }





            }


        }
    }




}


@media screen and(max-width: 500px) {

    .HelpPage {
        height: 180vh;



        .HelpPage__Container {
            flex-direction: column;
            height: 180vh;


            .HelpPage__cont__block {
                width: 100%;


                .cont__block__three {
                    width: 100%;

                    .yelowline {
                        height: 440px;

                    }


                }





            }


        }
    }
}