.HelpPage {
  width: 100%;
  height: 100vh;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HelpPage .HelpPage__img__container {
  width: 45%;
  height: 40vh;
  background-size: cover;
  z-index: 3;
}
.HelpPage .HelpPage__img__container .HelpIMage {
  width: 100%;
  height: 80vh;
  z-index: 2;
}
.HelpPage .HelpPage__Container {
  width: 85%;
  height: 80vh;
  background-color: #131313;
  display: flex;
  justify-content: space-between;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block {
  height: 93vh;
  width: 46%;
  background-color: #131313;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  float: left;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one {
  width: 90%;
  height: 100px;
  background-color: #131313;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one .HelpPage__span {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  font-weight: 800;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__two {
  width: 430px;
  height: 80px;
  background-color: #131313;
  display: flex;
  justify-content: space-between;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__two .blueline {
  width: 5px;
  height: 70px;
  background-color: #639bf0;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__two .two__text {
  font-size: 25px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  position: relative;
  left: -50px;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three {
  width: 590px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container {
  width: 100%;
  background-color: #131313;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container .three__cont__one {
  height: 90px;
  width: 95%;
  background-color: #131313;
  position: relative;
  left: 12px;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container .three__cont__one .cont__one__text {
  font-size: 21px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container .three__cont__two {
  width: 90%;
  height: 220px;
  background-color: #131313;
  line-height: 38px;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container .three__cont__two .cont__two__text {
  font-size: 21px;
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  position: relative;
  left: 10px;
  top: 15px;
}
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .yelowline {
  height: 287px;
  background-color: #ffee00;
  width: 5px;
  position: relative;
  display: flex;
}

@media screen and (max-width: 800px) {
  .HelpPage {
    height: 190vh;
  }
  .HelpPage .HelpPage__Container {
    flex-direction: column;
    height: 180vh;
  }
  .HelpPage .HelpPage__Container .HelpPage__img__container {
    width: 100%;
    position: relative;
    top: -340px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block {
    width: 100%;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one {
    width: 90%;
    height: 40px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one .HelpPage__span {
    font-size: 27px;
  }
}
@media screen and (max-width: 700px) {
  .HelpPage {
    height: 190vh;
  }
  .HelpPage .HelpPage__Container {
    flex-direction: column;
    height: 160vh;
  }
  .HelpPage .HelpPage__Container .HelpPage__img__container {
    width: 100%;
    position: relative;
    top: -200px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block {
    width: 100%;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one {
    width: 90%;
    height: 40px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one .HelpPage__span {
    font-size: 27px;
  }
}
@media screen and (max-width: 600px) {
  .HelpPage {
    height: 180vh;
  }
  .HelpPage .HelpPage__Container {
    flex-direction: column;
    height: 180vh;
  }
  .HelpPage .HelpPage__Container .HelpIMage {
    height: 400px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block {
    width: 100%;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three {
    width: 100%;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .yelowline {
    height: 380px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .three__cont__one,
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .three__cont__two {
    width: 110%;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .three__cont__one .cont__one__text,
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .three__cont__one .cont__two__text,
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .three__cont__two .cont__one__text,
.HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .three__cont__two .cont__two__text {
    font-size: 5px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one {
    width: 90%;
    height: 40px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one .HelpPage__span {
    font-size: 27px;
  }
}
@media screen and (max-width: 580px) {
  .HelpPage .HelpPage__Container {
    flex-direction: column;
    height: 180vh;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block {
    width: 100%;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three {
    width: 100%;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .yelowline {
    height: 440px;
  }
}
@media screen and (max-width: 500px) {
  .HelpPage {
    height: 180vh;
  }
  .HelpPage .HelpPage__Container {
    flex-direction: column;
    height: 180vh;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block {
    width: 100%;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three {
    width: 100%;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .yelowline {
    height: 440px;
  }
}
@media only screen and (max-width: 420px) {
  .HelpPage {
    flex-direction: column;
    justify-content: space-around;
  }
  .HelpPage .HelpPage__img__container {
    width: 90%;
    height: 50vh;
  }
  .HelpPage .HelpPage__img__container .HelpIMage {
    height: 100%;
    position: relative;
    top: 240px;
  }
  .HelpPage .HelpPage__Container {
    width: 100%;
    height: auto;
    padding: 0 15px;
    margin-top: 40px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block {
    height: auto;
    width: 100%;
    margin-bottom: 40px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__one .HelpPage__span {
    font-size: 24px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__two {
    width: 100%;
    height: 70px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__two .blueline {
    height: 50px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__two .two__text {
    font-size: 18px;
    left: -70px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three {
    width: 100%;
    height: auto;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container .three__cont__one {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container .three__cont__one .cont__one__text {
    font-size: 18px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container .three__cont__two {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .block__three__container .three__cont__two .cont__two__text {
    font-size: 18px;
    left: 5;
    top: 0;
  }
  .HelpPage .HelpPage__Container .HelpPage__cont__block .cont__block__three .yelowline {
    height: auto;
    width: 5px;
  }
}

/*# sourceMappingURL=HelpPage.css.map */
